<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 서버 통신에 필수. debug/profile 매니페스트에만 있으면 릴리스 빌드에서
         DNS 조회부터 막혀 "Failed host lookup (errno = 7)"로 실패한다. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="elum"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 카카오 로그인 리다이렉트.
             카카오톡·카카오계정 로그인을 마치면 이 스킴으로 앱이 다시 열린다.
             스킴 값은 build.gradle.kts가 .env의 네이티브 앱 키로 채운다. -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${kakaoScheme}" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- 네이버 로그인 SDK 설정. 값은 build.gradle.kts가 .env에서 리소스로 만든다. -->
        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="@string/naver_client_id"/>
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="@string/naver_client_secret"/>
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="@string/naver_client_name"/>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Android 11부터는 선언하지 않으면 다른 앱의 설치 여부를 알 수 없다.
             이게 없으면 카카오톡이 깔려 있어도 항상 웹 로그인으로 빠진다. -->
        <package android:name="com.kakao.talk"/>
    </queries>
</manifest>
